.tag2-container {
  display: flex;
  position: relative;
  padding-right: var(--dl-space-space-halfunit);
}
.tag2-text {
  padding: 4px;
  box-shadow: 2px 2px 3px 0px rgba(16, 16, 16, 0.35);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}

.favorite-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
}
.favorite-blog-post-card:hover {
  transform: scale(1.02);
}
.favorite-container {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.favorite-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.favorite-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.favorite-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.favorite-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.favorite-text3 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-unit);
}
.favorite-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}









.favorite-root-class-name9 {
  margin-bottom: 16px;
}

.favorite-root-class-name11 {
  margin-bottom: 16px;
}
.favorite-root-class-name12 {
  margin-bottom: var(--dl-space-space-twounits);
}
.favorite-root-class-name13 {
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .favorite-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .favorite-blog-post-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .favorite-container {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .favorite-text2 {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
}
