.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.footer-tdr {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}
.footer-mentions-lgales {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
  text-decoration: underline;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-auth {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}




.footer-root-class-name4 {
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 767px) {
  .footer-footer {
    height: 15vh;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-tdr {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-mentions-lgales {
    margin: 0px;
    position: static;
    align-self: center;
    text-align: center;
  }
  .footer-root-class-name1 {
    height: 10vh;
  }
  .footer-root-class-name2 {
    height: 10vh;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: 20vh;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-tdr {
    margin: var(--dl-space-space-unit);
  }
  .footer-mentions-lgales {
    margin: var(--dl-space-space-unit);
    align-self: center;
  }
  .footer-root-class-name1 {
    height: 18vh;
  }
  .footer-root-class-name2 {
    height: 18vh;
  }
}
