.notification-blog-post-card {
  width: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.notification-blog-post-card:hover {
  transform: scale(1.02);
}
.notification-container {
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.notification-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.notification-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
}
.notification-text {
  font-size: 1.25em;
  align-self: center;
  font-style: normal;
  font-weight: 500;
}




@media(max-width: 991px) {
  .notification-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .notification-blog-post-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .notification-container {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .notification-text {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
}
