.search-bar-container {
  display: flex;
  position: relative;
}
.search-bar-image {
  top: 6px;
  left: 6px;
  width: 23px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.search-bar-textinput {
  flex: 1;
  width: 80vw;
  max-width: 800px;
  min-width: var(--dl-size-size-large);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
}

@media(max-width: 767px) {
  .search-bar-root-class-name {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .search-bar-image {
    width: 21px;
  }
  .search-bar-textinput {
    align-self: stretch;
  }
}
