.mentions-lgales-container {
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  justify-content: flex-start;
  margin-top: 0.5em;
}
.mentions-lgales-image {
  width: 258px;
  height: var(--dl-size-size-small);
}
.container{
  margin: 2em 2em 2em 2em;
}
.container >* {
  margin-bottom: 0.5em;
  padding-bottom: 1em;
}
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Header, Body, Footer */
  min-height: 100vh;
  /* Ensures the grid takes up the full viewport height */
}

.body {
  background-color: lightgray;
  padding: 20px;
}
.footer-footer {
  width: 100%;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}

.footer-tdr {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}

.footer-mentions-lgales {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}

.footer-auth {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.footer-root-class-name4 {
  background-color: var(--dl-color-gray-white);
}

.footer-root-class-name9 {
  height: auto;
  min-width: 100%;
}

.footer-root-class-name10 {
  height: auto;
  min-width: 100%;
}

.footer-root-class-name12 {
  height: auto;
  min-width: 100%;
}

.footer-root-class-name13 {
  height: auto;
  min-width: 100%;
}

@media(max-width: 767px) {
  .footer-footer, header,body {
    height: 15vh;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .footer-tdr {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }

  .footer-mentions-lgales {
    margin: 0px;
    position: static;
    align-self: center;
    text-align: center;
  }

  .footer-root-class-name1 {
    height: 10vh;
  }

  .footer-root-class-name2 {
    height: 10vh;
  }

  .footer-root-class-name8 {
    height: 10vh;
  }

  .footer-root-class-name11 {
    height: 10vh;
  }
}

@media(max-width: 479px) {
  .footer-footer {
    height: 20vh;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }

  .footer-tdr {
    margin: var(--dl-space-space-unit);
  }

  .footer-mentions-lgales {
    margin: var(--dl-space-space-unit);
    align-self: center;
  }

  .footer-root-class-name1 {
    height: 18vh;
  }

  .footer-root-class-name2 {
    height: 18vh;
  }

  .footer-root-class-name8 {
    height: 18vh;
  }

  .footer-root-class-name11 {
    height: 18vh;
  }
}