.search-bar-container {
  display: flex;
  position: relative;
}
.search-bar-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
}
.search-bar-image {
  width: 22px;
  align-self: center;
  object-fit: cover;
}
.search-bar-textinput {
  flex: 1;
  width: 80vw;
  max-width: 800px;
  min-width: var(--dl-size-size-large);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.search-bar-root-class-name {
  width: 62%;
}
.search-bar-root-class-name1 {
  width: 100%;
  height: auto;
  display: none;
  margin-bottom: var(--dl-space-space-unit);
}
.search-bar-root-class-name2 {
  max-width: 70%;
}
.search-bar-root-class-name3 {
  display: none;
}
.search-bar-root-class-name4 {
  display: none;
}
.search-bar-root-class-name5 {
  display: none;
}
@media(max-width: 991px) {
  .search-bar-textinput {
    width: auto;
    min-width: auto;
  }
  .search-bar-root-class-name {
    width: 60%;
  }
  .search-bar-root-class-name2 {
    flex: 1;
    width: var(--dl-size-size-xxlarge);
    max-width: var(--dl-size-size-maxwidth);
    min-width: auto;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .search-bar-root-class-name {
    width: 90%;
    align-self: center;
  }
  .search-bar-root-class-name1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .search-bar-image {
    width: 21px;
  }
  .search-bar-textinput {
    max-width: var(--dl-size-size-maxwidth);
    min-width: auto;
    align-self: stretch;
  }
  .search-bar-root-class-name {
    width: 90%;
  }
  .search-bar-root-class-name1 {
    display: flex;
  }
  .search-bar-root-class-name2 {
    width: auto;
    display: none;
  }
  .search-bar-root-class-name3 {
    width: 90%;
    display: flex;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .search-bar-root-class-name4 {
    width: 90%;
    display: flex;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .search-bar-root-class-name5 {
    width: 90%;
    display: flex;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.logged-in-header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.logged-in-header-logo-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.logged-in-header-image {
  height: var(--dl-size-size-small);
}
.logged-in-header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.logged-in-header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logged-in-header-button {
  display: flex;
  padding: 0px;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: transparent;
}
.logged-in-header-image1 {
  width: auto;
  max-width: var(--dl-size-size-small);
  object-fit: cover;
}
.logged-in-header-button1 {
  display: flex;
  padding: 0px;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: transparent;
}
.logged-in-header-image2 {
  width: auto;
  max-width: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}















@media(max-width: 991px) {
  .logged-in-header-btn-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .logged-in-header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .logged-in-header-header {
    padding: var(--dl-space-space-unit);
    justify-content: space-between;
  }
}

.etudiant-card-blog-post-card {
  width: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
}
.etudiant-card-blog-post-card:hover {
  transform: scale(1.02);
}
.etudiant-card-container {
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.etudiant-card-image {
  width: auto;
  max-height: 60%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
}
.etudiant-card-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.etudiant-card-text1 {
  color: var(--dl-color-gray-500);
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
}
.etudiant-card-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.etudiant-card-annee {
  color: var(--dl-color-gray-500);
  font-size: 1.25em;
  font-weight: 300;
}
.etudiant-card-promo {
  color: var(--dl-color-gray-500);
  font-size: 1.25em;
  font-weight: 300;
}









.etudiant-card-root-class-name9 {
  margin-bottom: 16px;
}

.etudiant-card-root-class-name11 {
  margin-bottom: 16px;
}
.etudiant-card-root-class-name12 {
  margin-bottom: 32px;
}
.etudiant-card-root-class-name13 {
  margin-bottom: 32px;
}
.etudiant-card-root-class-name14 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name15 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name16 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name17 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name18 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name20 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name21 {
  max-width: auto;
  align-self: stretch;
}
@media(max-width: 991px) {
  .etudiant-card-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .etudiant-card-blog-post-card {
    flex-direction: column;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-tdr {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}
.footer-mentions-lgales {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-auth {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}




.footer-root-class-name4 {
  background-color: var(--dl-color-gray-white);
}




.footer-root-class-name9 {
  height: auto;
  min-width: 100%;
}
.footer-root-class-name10 {
  height: auto;
  min-width: 100%;
}

.footer-root-class-name12 {
  height: auto;
  min-width: 100%;
}
.footer-root-class-name13 {
  height: auto;
  min-width: 100%;
}
@media(max-width: 767px) {
  .footer-footer {
    height: 15vh;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-tdr {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-mentions-lgales {
    margin: 0px;
    position: static;
    align-self: center;
    text-align: center;
  }
  .footer-root-class-name1 {
    height: 10vh;
  }
  .footer-root-class-name2 {
    height: 10vh;
  }
  .footer-root-class-name8 {
    height: 10vh;
  }
  .footer-root-class-name11 {
    height: 10vh;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: 20vh;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-tdr {
    margin: var(--dl-space-space-unit);
  }
  .footer-mentions-lgales {
    margin: var(--dl-space-space-unit);
    align-self: center;
  }
  .footer-root-class-name1 {
    height: 18vh;
  }
  .footer-root-class-name2 {
    height: 18vh;
  }
  .footer-root-class-name8 {
    height: 18vh;
  }
  .footer-root-class-name11 {
    height: 18vh;
  }
}

.page-recherche-utilisateur-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-recherche-utilisateur-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  justify-content: flex-end;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-recherche-utilisateur-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 30vw;
  box-shadow: 2px 2px 5px 0px rgba(21, 21, 21, 0.5);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.page-recherche-utilisateur-form {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  min-width: 80%;
  margin-top: var(--dl-space-space-unit);
  min-height: 60%;
  flex-direction: column;
}
.page-recherche-utilisateur-niveau-dtudes {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-utilisateur-default {
  display: none;
}
.page-recherche-utilisateur-campus {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-utilisateur-option05 {
  display: none;
}
.page-recherche-utilisateur-promo {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-utilisateur-option09 {
  display: none;
}
.page-recherche-utilisateur-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  min-width: 80%;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-recherche-utilisateur-button {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
}
.page-recherche-utilisateur-liste-entreprises {
  width: 100%;
  display: flex;
  max-width: 70vw;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-recherche-utilisateur-etudiant-container {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-utilisateur-etudiant-container1 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-utilisateur-etudiant-container2 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .page-recherche-utilisateur-liste-entreprises {
    max-width: 70vw;
  }
}
@media(max-width: 767px) {
  .page-recherche-utilisateur-container2 {
    display: none;
  }
  .page-recherche-utilisateur-form {
    align-self: center;
  }
  .page-recherche-utilisateur-liste-entreprises {
    max-width: 100vw;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .page-recherche-utilisateur-form {
    align-self: center;
  }
  .page-recherche-utilisateur-liste-entreprises {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
