.search-bar-container {
  display: flex;
  position: relative;
}
.search-bar-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
}
.search-bar-image {
  width: 22px;
  align-self: center;
  object-fit: cover;
}
.search-bar-textinput {
  flex: 1;
  width: 80vw;
  max-width: 800px;
  min-width: var(--dl-size-size-large);
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.search-bar-root-class-name {
  width: 62%;
}
.search-bar-root-class-name1 {
  width: 100%;
  height: auto;
  display: none;
  margin-bottom: var(--dl-space-space-unit);
}
.search-bar-root-class-name2 {
  max-width: 70%;
}
.search-bar-root-class-name3 {
  display: none;
}
.search-bar-root-class-name4 {
  display: none;
}
.search-bar-root-class-name5 {
  display: none;
}
@media(max-width: 991px) {
  .search-bar-textinput {
    width: auto;
    min-width: auto;
  }
  .search-bar-root-class-name {
    width: 60%;
  }
  .search-bar-root-class-name2 {
    flex: 1;
    width: var(--dl-size-size-xxlarge);
    max-width: var(--dl-size-size-maxwidth);
    min-width: auto;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .search-bar-root-class-name {
    width: 90%;
    align-self: center;
  }
  .search-bar-root-class-name1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .search-bar-image {
    width: 21px;
  }
  .search-bar-textinput {
    max-width: var(--dl-size-size-maxwidth);
    min-width: auto;
    align-self: stretch;
  }
  .search-bar-root-class-name {
    width: 90%;
  }
  .search-bar-root-class-name1 {
    display: flex;
  }
  .search-bar-root-class-name2 {
    width: auto;
    display: none;
  }
  .search-bar-root-class-name3 {
    width: 90%;
    display: flex;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .search-bar-root-class-name4 {
    width: 90%;
    display: flex;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .search-bar-root-class-name5 {
    width: 90%;
    display: flex;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

.logged-in-header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.logged-in-header-logo-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.logged-in-header-image {
  height: var(--dl-size-size-small);
}
.logged-in-header-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.logged-in-header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.logged-in-header-button {
  display: flex;
  padding: 0px;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: transparent;
}
.logged-in-header-image1 {
  width: auto;
  max-width: var(--dl-size-size-small);
  object-fit: cover;
}
.logged-in-header-button1 {
  display: flex;
  padding: 0px;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: transparent;
}
.logged-in-header-image2 {
  width: auto;
  max-width: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}















@media(max-width: 991px) {
  .logged-in-header-btn-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .logged-in-header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .logged-in-header-header {
    padding: var(--dl-space-space-unit);
    justify-content: space-between;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-tdr {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}
.footer-mentions-lgales {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-auth {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}




.footer-root-class-name4 {
  background-color: var(--dl-color-gray-white);
}




.footer-root-class-name9 {
  height: auto;
  min-width: 100%;
}
.footer-root-class-name10 {
  height: auto;
  min-width: 100%;
}

.footer-root-class-name12 {
  height: auto;
  min-width: 100%;
}
.footer-root-class-name13 {
  height: auto;
  min-width: 100%;
}
@media(max-width: 767px) {
  .footer-footer {
    height: 15vh;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-tdr {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-mentions-lgales {
    margin: 0px;
    position: static;
    align-self: center;
    text-align: center;
  }
  .footer-root-class-name1 {
    height: 10vh;
  }
  .footer-root-class-name2 {
    height: 10vh;
  }
  .footer-root-class-name8 {
    height: 10vh;
  }
  .footer-root-class-name11 {
    height: 10vh;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: 20vh;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-tdr {
    margin: var(--dl-space-space-unit);
  }
  .footer-mentions-lgales {
    margin: var(--dl-space-space-unit);
    align-self: center;
  }
  .footer-root-class-name1 {
    height: 18vh;
  }
  .footer-root-class-name2 {
    height: 18vh;
  }
  .footer-root-class-name8 {
    height: 18vh;
  }
  .footer-root-class-name11 {
    height: 18vh;
  }
}

.visu-offre-stage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.visu-offre-stage-main {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  border-left-width: 0px;
  border-right-width: 0px;
}
.visu-offre-stage-container1 {
  flex: 0 0 auto;
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
}
.visu-offre-stage-container2 {
  flex: 0 0 auto;
  width: 30vw;
  height: auto;
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  min-height: auto;
  align-items: flex-end;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.visu-offre-stage-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.visu-offre-stage-ul {
  margin: 0px;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-twounits);
  list-style-type: disc;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  list-style-position: inside;
}
.visu-offre-stage-li {
  position: relative;
  text-align: left;
}
.visu-offre-stage-text {
  font-style: normal;
  font-weight: 700;
}
.visu-offre-stage-li1 {
  position: relative;
  text-align: left;
}
.visu-offre-stage-text02 {
  font-style: normal;
  font-weight: 700;
}
.visu-offre-stage-li2 {
  position: relative;
  text-align: left;
}
.visu-offre-stage-text04 {
  font-style: normal;
  font-weight: 700;
}
.visu-offre-stage-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.visu-offre-stage-button {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
}
.visu-offre-stage-button1 {
  width: auto;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: transparent;
}
.visu-offre-stage-image {
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.visu-offre-stage-main-text-content {
  flex: 1;
  width: 60vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-width: 60vw;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: stretch;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.visu-offre-stage-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.visu-offre-stage-text06 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.visu-offre-stage-text07 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.visu-offre-stage-text08 {
  margin-bottom: var(--dl-space-space-twounits);
}
.visu-offre-stage-text09 {
  color: var(--dl-color-gray-black);
  font-size: 1.25rem;
  align-self: stretch;
  text-align: justify;
  margin-bottom: var(--dl-space-space-unit);
}
.visu-offre-stage-text11 {
  font-size: 1.25rem;
}
.visu-offre-stage-text12 {
  font-size: 1.25rem;
}
.visu-offre-stage-text15 {
  font-size: 1.25rem;
}
.visu-offre-stage-text16 {
  font-size: 1.25rem;
}
@media(max-width: 767px) {
  .visu-offre-stage-main {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .visu-offre-stage-container2 {
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .visu-offre-stage-main-text-content {
    flex: 0 0 auto;
    width: auto;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .visu-offre-stage-main {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .visu-offre-stage-container1 {
    width: auto;
  }
  .visu-offre-stage-container2 {
    width: auto;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .visu-offre-stage-text08 {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
}
